__pycache__/
.uv-cache/
.venv/
outputs/
*.pdf
models/
a.py
logs/
neuronpedia_return/
feature_descriptions_pipeline.ipynb
model_download/
prompt_for_codeagent/
explanation_quality_evaluation/output-side-evaluation/gemmascope-res
explanation_quality_evaluation/output-side-evaluation/outputs
explanation_quality_evaluation/input-side-evaluation/outputs
explanation_quality_evaluation/input-side-evaluation/gemmascope-res
chat_with_local_gemma.py
steer_playground/output
python_command.txt
target-pairs.txt